# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS
.DS_Store

# Editors
.vscode/
.idea/

# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
